.ProfileAll{
    display: flex;
    flex-direction: row;       
    height:45vw;
}

.PA{    
    width: 80%;
}
.Profile-inPH{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.Profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 0rem 3rem;
}
.imgPer{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50px;
}
.levelP{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
    align-items: flex-start;
}
.TwoLvl{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Prof-His{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-top: -6rem;
}

.o-content-registro{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.o-button-showmore{
    color: #235390;
    background-color: transparent;
    width: 8rem;
    margin-left: 10rem;
    border: none;
}

.Medal{    
    filter: grayscale(100%);
    width: 2.1875rem;
    height: 2.1875rem;
}
.lvl{
    margin: 0;
    width: 5rem;
}
.PrReArH{
    display: flex;
    flex-direction: column;
    
}
.RTittle{
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    font-weight: bold;
    font-size: 24px;
    color: #434343;

}
.bar-P{
    margin: 0 0 0 3rem;
    width: 370px;
    border: 0.5px solid #9A9A9A;
}
.Friends-title{    
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0 1rem 2rem;
    font-weight: bold;
    font-size: 18px;
    color: #434343;
}
.Friends{
    margin: 1rem 0 0 30rem;
    width: 17rem;
    height: 17rem; 
    border: 2px solid #9A9A9A;
    box-sizing: border-box;    
    border-radius: 25px;
}

.cardsP{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.o-nombre-perfil{
    font-weight: bold;
    font-size: 18px;
    color: #235390;
    font-family: 'Comfortaa';
    text-transform: capitalize;
}