.navbar-default { 
    background-color: #235390;    
} 
.navbar-default .navbar-brand{ 
            color: white !important; 
        } 

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
    }
.nav-link:hover{
    color: #DBC01F !important;
}
.Navbar-Container{
    color: #fff;
    margin-left: auto;
}
