.ContentVideo-all{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.info-content{
    display: flex;
    flex-direction: row;
}
.infoVid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin: 6rem 0 0 3rem;
}
.Title-content{
    width: 30rem;
    margin-bottom: 5rem;
}
.TittleVidC{
    font-size: 36px;
    color: white;
}
.descriptVid{
    color: gray;
    width: 30rem;
    text-align: justify;
}
.TittlConcept{
    width: 30rem;
    font-size: 24px;
    color: white;
}
.descriptConcept{
    color: gray;
    width: 30rem;
    text-align: justify;
}

.o-video-container-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7rem;
}

.VideoV{
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.o-add-info{
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: gray;
}

.o-add-info a{
    color: #3168af;
}

.o-tittle-info-add{
    color: white;
    margin-bottom: 0.5rem;
}
