.o-pass-body-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-recover-pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 80vw;
}

.o-email-box{
    width: 40vw;
}